@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

.sellerOrders {
  position: relative;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 80px;
  z-index: 2;
}